
.body{
    margin:0;
    padding:0;
}


.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:darkblue;
    z-index:1;


}
.btn-search{

    border-radius:30px;
}
#searchForm{
margin-bottom:0px;
}


.header nav{
    font-weight:bold;
    color:

}
.main{
    background-color:# ;
    padding-bottom: 40px; 
}


.container-card{

    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    background-color:  ;
    gap:15px;
    padding:30px;
}
.card{
border:5px solid #0C0950;
padding:15px;
box-shadow:10px 10px 20px #;
}